body{
    margin: 0 auto;
    padding: 0;
}



#bg-image {
    width: 100%; 
    height: 40vh;
    border-bottom: 10px solid rgb(0, 0, 0);
}
#logo{
    width: 20%;
    height: auto;
    position: relative;
    left: 39%;
    bottom: 80ch;
    transform: bottom  10s;
}
#logo:hover{
    bottom: 75ch;
    filter: drop-shadow(0px 10px 15px rgb(0, 38, 255));
}
#title{
    text-align: center;
    font-size: 7vh;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 40vb;
}
#description{
    font-size: 4vh;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 60vb;
}





#title2{
    font-size: 4vh;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 45vb;
    color: rgb(73, 73, 73);
}
#table{
    width: 25ch;
    height: 5ch;
    font-size: 5ch;
    position: relative;
    left: 3%;
    bottom: 30vb;
    background-color: rgb(175, 175, 185);
    color: rgb(66, 64, 64);
    border-radius: 10px;

}
#table2{
    width: 25ch;
    height: 5ch;
    font-size: 5ch;
    position: relative;
    left: 36%;
    bottom: 40vb;
    background-color: rgb(175, 175, 185);
    color: rgb(66, 64, 64);
    border-radius: 10px;

}
#table3{
    width: 25ch;
    height: 5ch;
    font-size: 5ch;
    position: relative;
    left: 70%;
    bottom: 50vb;
    background-color: rgb(175, 175, 185);
    color: rgb(66, 64, 64);
    border-radius: 10px;

}
th{
    border: none;
}




#courses-dev{
    background-color: rgb(59, 59, 59);
}
#course1{
    width: 30ch;
    height: 10ch;
    text-align: center;
    font-size: 30px;
    background-color: rgb(129, 125, 125);
    position: relative;
    left: 30px;
    top: 40PX;
    border-radius: 10px;
}
#courses-title{
    
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
    left: 20px;
    top: 50px;
}
#course-name1{
    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 160px;
    left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#course-image1{
    width: 70%;
    position: relative;
    right: 10px;
    top: 250px;
}
#watch1{
    width: 200px;
    height: 70px;
    position: relative;
    right: 125px;
    top: 200px;
    border-radius: 10px;
    background-color: rgb(103, 104, 104);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}



#course2{
    width: 30ch;
    height: 10ch;
    text-align: center;
    font-size: 30px;
    background-color: rgb(129, 125, 125);
    position: relative;
    left: 700px;
    bottom: 210px;
    border-radius: 10px;
}
#course-name2{
    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 160px;
    left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#course-image2{
    width: 70%;
    position: relative;
    right: 10px;
    top: 250px;
}
#watch2{
    width: 200px;
    height: 70px;
    position: relative;
    right: 125px;
    top: 200px;
    border-radius: 10px;
    background-color: rgb(103, 104, 104);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}


#course3{
    width: 30ch;
    height: 10ch;
    text-align: center;
    font-size: 30px;
    background-color: rgb(129, 125, 125);
    position: relative;
    left: 1400px;
    bottom: 450px;
    border-radius: 10px;
}
#course-name3{
    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 160px;
    left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#course-image3{
    width: 70%;
    position: relative;
    right: 10px;
    top: 250px;
}
#watch3{
    width: 200px;
    height: 70px;
    position: relative;
    right: 125px;
    top: 200px;
    border-radius: 10px;
    background-color: rgb(103, 104, 104);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

td,th{
    border: none;
}
#copyright-dev{
    background-color: rgb(53, 53, 53);
}
#copyright{
    height: 20px;
    padding-bottom: 50px;
    margin-bottom: auto;
    margin-top: 500px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 40px;
    color: white;
    background-color: rgb(53, 53, 53);
    
}
#home{
    width: 100px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    position: relative;
    bottom: 590px;
    left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: width 1s;
}
#home:hover{
    width: 90px;
    font-size: 20px;
    box-shadow: 1px 5px 5px rgb(111, 155, 111);
}
#course-tap{
    width: 110px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 640px;
    left: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: width 1s

}
#course-tap:hover{
    width: 90px;
    font-size: 20px;
    box-shadow: 1px 5px 5px rgb(159, 160, 159);
}